<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <p>
      <%= link_to task.title, task_path(task) %>
      </p>
    </li>
  <% end %>
</ul>
<p>--------------------------------------------------</p>

<%= link_to " + Create a new task", form_path %>

